name: "CI"

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v3
      - uses: actions/setup-node@v4
        with:
          node-version: latest
          cache: "pnpm"
      - run: pnpm install
      - run: make check
      - run: make compile

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v3
      - uses: actions/setup-node@v4
        with:
          node-version: latest
          cache: "pnpm"
      - name: Install gnome-shell and strip-nondeterminism
        run: |
          sudo apt-get update -qq
          sudo apt-get install --no-install-recommends -qq -y gnome-shell strip-nondeterminism
      - run: pnpm install
      - run: make check-types
      - run: make dist-repro
      - run: b2sum *.zip > B2SUMS.txt
        working-directory: dist
      - uses: actions/upload-artifact@v4
        with:
          name: dist
          path: "dist/*"

  create-release:
    runs-on: ubuntu-latest
    needs: build
    # Only create a release on a tag
    if: ${{ startsWith(github.ref, 'refs/tags/') }}
    steps:
      - uses: actions/download-artifact@v4
        with:
          path: dist
          name: dist
      - uses: softprops/action-gh-release@v2
        with:
          files: "dist/*"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
